.git.local
.env
*_

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Linux.gitignore
*~
.fuse_hidden*
.directory
.Trash-*

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Redis.gitignore
*.rdb

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
tags

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Vagrant.gitignore
.vagrant/

# Added from https://raw.githubusercontent.com/github/gitignore/master/Go.gitignore
*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof

