.git.local
.env
*_

# nvim + dein
.init.vim-rplugin~
.vim/configstore/
.vim/dein
.vim/vimfiler/

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Linux.gitignore
*~
.fuse_hidden*
.directory
.Trash-*

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Redis.gitignore
*.rdb

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
tags

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Vagrant.gitignore
.vagrant/

# Added from https://raw.githubusercontent.com/github/gitignore/master/Go.gitignore
*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof

# Added from https://raw.githubusercontent.com/github/gitignore/master/Ruby.gitignore
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
.rvmrc

# Added from https://raw.githubusercontent.com/github/gitignore/master/Node.gitignore
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.tern-port
